.register{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -212px;
    margin-left: -200px;
    
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -212px;
    margin-left: -200px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid $border-darkgray;

    &__logo{
        text-align: center;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        background-color: rgb(71, 71, 71);
        padding: 10px 0;
        letter-spacing: 4px;
        width: 80%;
        font-weight: 300;
        margin: 5% 0;
        color: white;

        span{
            font-weight: 500;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;

        label{
            display: flex;
            flex-direction: column;
            font-size: 20px;
            width: 100%;
            padding:25px 0 0 0;
        }

        input{
            margin-top: 10px;
            font-size: 17px;
            padding: 0 5px;
        }

        button{
            margin: 10% 0;
            border-radius: 5px;
            border: 1px solid $border-darkgray;
            background: none;
            padding: 15px;
            width: 100%;
            cursor: pointer;
            font-weight: bold;
            color:black;
            transition: 0.3s;
            

            &:hover{
                background-color: $border-darkgray;
                color: white;
                
            }
        }

        span{
            color: $error-span;
            font-size: 15px;
            padding: 5px 0;
            position: absolute;
            margin-top: 55px;
        }
    }
}